.container-fluid

  .row-fluid
    .hero-unit.portal
      %h1 Railbus
      %p This is a generic rails app that has everything you need to easily create your own custon Ruby on Rails application. Add, delete, and customize any way you like!
    = bootstrap_flash
