.container-fluid

  .row-fluid
    .hero-unit.portal
      %h1 Digidex
      %p An online database for your physical business cards. Upload and save digital copies of business cards for easy access at any time.