%h2.page-header 
  Your Business Cards
  .pull-right
    %button.btn.btn-danger{"data-target" => "#newCardModal", "data-toggle" => "modal", :type => "button"} Add New Card

.row
  .span12
    %ul.thumbnails
      - if @cards
        - @cards.each do |card|
          %li= link_to image_tag(card.card.url(:medium)), card

= render 'new'

